<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<context-param>
		<param-name>org.springview.IMAGES_CACHETIME</param-name>
		<param-value>1200</param-value>
	</context-param>
	<context-param>
		<param-name>org.springview.IMAGES_FOLDER</param-name>
		<param-value>C:\\ambiente_de_trabalho\\java\\worspace\\images\\db\\</param-value>
	</context-param>
	<context-param>
		<param-name>viewPrefix</param-name>
		<param-value>/views/</param-value>
	</context-param>
	<context-param>
		<param-name>viewSufix</param-name>
		<param-value>.jsp</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- filter> <filter-name>scale</filter-name> <filter-class>br.com.cd.scaleframework.web.servlet.ModuleFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>scale</filter-name> <url-pattern>/*</url-pattern> 
		<dispatcher>FORWARD</dispatcher> <dispatcher>REQUEST</dispatcher> </filter-mapping -->
	<filter>
		<filter-name>vraptor</filter-name>
		<filter-class>br.com.caelum.vraptor.VRaptor</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>vraptor</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<session-config>
		<session-timeout>180</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>views/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
