<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<bean id="jdbc"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="classpath:ds-infra.properties" />
	</bean>

	<bean id="infraDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="#{jdbc['database.driver']}" />
		<property name="url" value="#{jdbc['database.url']}" />
		<property name="username" value="#{jdbc['database.user']}" />
		<property name="password" value="#{jdbc['database.pass']}" />
	</bean>

	<!-- INFRA EntityManagerFactory -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		p:dataSource-ref="infraDataSource">
		<property name="jpaVendorAdapter">
			<bean id="jpaVendorAdapter"
				class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"
				p:databasePlatform="org.eclipse.persistence.platform.database.MySQLPlatform"
				p:showSql="true">
			</bean>
			<!-- <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter" 
				p:databasePlatform="org.eclipse.persistence.platform.database.MySQLPlatform" 
				p:showSql="true" /> -->
		</property>
		<property name="persistenceXmlLocation" value="classpath:META-INF/persistence-infra.xml" />
		<property name="jpaPropertyMap" ref="hibernateProperties" />
		<property name="persistenceUnitName" value="INFRA_DS" />
	</bean>

	<util:map id="hibernateProperties">
		<!-- <entry key="eclipselink.weaving" value="false" /> -->
		<entry key="hibernate.show_sql" value="true" />
		<entry key="hibernate.format_sql" value="true" />
		<entry key="hibernate.dialect" value="#{jdbc['hibernate.dialect']}" />
	</util:map>

	<bean id="infraManager"
		class="br.cd.mvo4j.test.multitenancy.internal.InfraManager" />

</beans>
